<table class="data-table data-table-flexbox">
    <tr>
        <th>
            {locale group="quiqqer/piwik" var="user.profile.title"}
        </th>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/piwik" var="user.profile.login"}
                </span>
                <input name="quiqqer.piwik.login" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/piwik" var="user.profile.pass"}
                </span>
                <input name="quiqqer.piwik.pass" class="field-container-field"/>
            </label>
        </td>
    </tr>
</table>