.quiqqer-piwik-setting-projectlang {
    clear: both;
    margin-bottom: 20px;
}

.quiqqer-piwik-setting-projectlang label {
    margin-bottom: 10px !important;
}

.quiqqer-piwik-setting-projectlang-flag,
.quiqqer-piwik-setting-projectlang-text {
    float: left;
    line-height: 30px;
    padding-right: 20px;
}

.quiqqer-piwik-setting-projectlang-flag {
    margin-top: 8px;
}

.quiqqer-piwik-setting-projectlang-text {
    width: 140px;
}