<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="piwik.settings">
                    <conf name="url">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="id">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="token">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="langdata">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="piwik">
                        <text>
                            <locale group="quiqqer/piwik"
                                    var="piwik.settings.title"
                            />
                        </text>
                        <icon>fa fa-line-chart</icon>

                        <settings>

                            <title>
                                <locale group="quiqqer/piwik"
                                        var="piwik.settings.general.title"
                                />
                            </title>

                            <input conf="piwik.settings.url">
                                <text>
                                    <locale group="quiqqer/piwik"
                                            var="piwik.settings.url"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/piwik"
                                            var="piwik.settings.url.description"
                                    />
                                </description>
                            </input>
                            <input conf="piwik.settings.id">
                                <text>
                                    <locale group="quiqqer/piwik"
                                            var="piwik.settings.id"
                                    />
                                </text>
                            </input>

                            <input conf="piwik.settings.token">
                                <text>
                                    <locale group="quiqqer/piwik"
                                            var="piwik.settings.token"
                                    />
                                </text>
                            </input>

                            <input type="hidden" data-qui="package/quiqqer/piwik/bin/controls/SiteIds">
                                <text>
                                    <locale group="quiqqer/app"
                                            var="piwik.settings.siteIds"
                                    />
                                </text>
                            </input>
                        </settings>
                    </category>
                </categories>
            </window>

        </settings>

    </project>
</quiqqer>