<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="piwik.settings">
                    <conf name="url">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="id">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="token">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="langdata">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="cookiecategory">
                        <type><![CDATA[string]]></type>
                        <defaultvalue><![CDATA[statistics]]></defaultvalue>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="piwik">
                        <text>
                            <locale group="quiqqer/piwik"
                                    var="piwik.settings.title"
                            />
                        </text>
                        <icon>fa fa-line-chart</icon>

                        <settings>

                            <title>
                                <locale group="quiqqer/piwik"
                                        var="piwik.settings.general.title"
                                />
                            </title>

                            <input conf="piwik.settings.url" type="url">
                                <text>
                                    <locale group="quiqqer/piwik"
                                            var="piwik.settings.url"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/piwik"
                                            var="piwik.settings.url.description"
                                    />
                                </description>
                            </input>
                            <input conf="piwik.settings.id">
                                <text>
                                    <locale group="quiqqer/piwik"
                                            var="piwik.settings.id"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/piwik"
                                            var="piwik.settings.id.description"
                                    />
                                </description>
                            </input>

                            <input type="hidden" data-qui="package/quiqqer/piwik/bin/controls/SiteIds">
                                <text>
                                    <locale group="quiqqer/piwik"
                                            var="piwik.settings.siteIds"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/piwik"
                                            var="piwik.settings.siteIds.description"
                                    />
                                </description>
                            </input>

                            <input conf="piwik.settings.token">
                                <text>
                                    <locale group="quiqqer/piwik"
                                            var="piwik.settings.token"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/piwik"
                                            var="piwik.settings.token.description"
                                    />
                                </description>
                            </input>
                        </settings>

                        <settings>
                            <title>
                                <locale group="quiqqer/piwik" var="piwik.settings.cookies.title"/>
                            </title>

                            <select conf="piwik.settings.cookiecategory">
                                <text>
                                    <locale group="quiqqer/piwik" var="piwik.settings.cookiecategory"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/piwik" var="piwik.settings.cookiecategory.description"/>
                                </description>
                                <option value="essential">
                                    <locale group="quiqqer/piwik" var="piwik.settings.cookiecategory.essential"/>
                                </option>
                                <option value="preferences">
                                    <locale group="quiqqer/piwik" var="piwik.settings.cookiecategory.preferences"/>
                                </option>
                                <option value="statistics">
                                    <locale group="quiqqer/piwik" var="piwik.settings.cookiecategory.statistics"/>
                                </option>
                                <option value="marketing">
                                    <locale group="quiqqer/piwik" var="piwik.settings.cookiecategory.marketing"/>
                                </option>
                            </select>
                        </settings>
                    </category>
                </categories>
            </window>

        </settings>

    </project>
</quiqqer>
